<!-- <div id="spree-header">
  <header id="header" data-hook class="py-3">
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-3 col-md-4" data-hook>

        </figure>
        <%#= render partial: 'spree/shared/nav_bar' %>
        <div class="container">
          <%#= render partial: 'spree/shared/main_nav_bar' %>
        </div>
      </div>
    </div>
  </header>
</div>
-->
<%= render partial: 'spree/shared/top_nav' %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= logo %>
  <% if !current_page?('/login') %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% @taxonomies.each do |taxonomy| %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= taxonomy.name %>
              </a>
              <%= nav_tree(taxonomy.root, @taxon, 1) %>
            </li>
          <% end %>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <%= render partial: 'spree/shared/search' %>
      </form>
    </div>

    <div class="cart-header">
      <div id="link-to-cart" class="nav-item" data-hook>
        <noscript>
          <%= link_to_carts %>
        </noscript>
        &nbsp;
      </div>
      <!-- <div class="cart_count">
        <%#= simple_current_order.item_count.to_s %>
      </div> -->
      <script>Spree.fetch_cart()</script>
    </div>
  <% end %>
</nav>


<!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
