<!-- <header id="header" class="row" data-hook>
  <figure id="logo" class="columns six" data-hook><%= logo %></figure>
  <%#= render partial: 'spree/shared/nav_bar' %>
  <%#= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
</header>
 -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <figure id="logo" class="columns six" data-hook><%= logo %></figure>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% @taxonomies.each do |taxonomy| %>
        <li class='nav-item dropdown'>
          <%= link_to '#', data: { toggle: 'dropdown' }, 'aria-haspopup' => 'true', 'aria-expanded' => 'false', 'role' => 'button', class: 'nav-link dropdown-toggle' do %>
            <%= taxonomy.name %>
          <% end %>
          <%= nav_tree(taxonomy.root, @taxon, 1) %>
        </li>
      <% end %>
    </ul>



    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
